*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Gilroy";
}

.receipt-holder{
    width: 80%;
    height: 100vh;
    border: 5px solid red;
    margin: 0 auto;
}

.receipt-header{
    
}

.receipt-img{
    width: 20%;
    /* border: 1px solid red; */
    margin: 0 31.4vw;
}

.receipt-header-txt{
    text-align: center;
    font-weight: 900;
    font-size: 3vw;
}