*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Gilroy";
}

body{
    background-color: #EEEEEE;
}

.receipt-holder{
    width: 80%;
    height: 100vh;
    padding:10px 10px;
    margin: 0 auto;
    background-color: white;
    box-shadow: 1px 1px 5px 5px #D8AE7E;
}
.receipt-header{
    border-bottom: 1px solid gray;
}

.receipt-img{
    width: 20%;
    /* border: 1px solid red; */
    margin: 0 31.4vw;
}

.receipt-header-txt{
    text-align: center;
    font-weight: 900;
    font-size: 3vw;
}

.Address{
    margin-top: 10px;
    text-align: right;
}

.Mobile{
    text-align: right;
    margin-top: 15px;
}